# --- 1. 临时文件与备份 (彻底覆盖那些 .saves-xxx 和 .lan~ 等) ---
*~
\#*\#
.\#*
*.lan~
*.~undo-tree~

# --- 2. Emacs 自动生成的运行数据目录 ---
auto-save-list/
#elpa/
eshell/
transient/
.cache/
.session/

# --- 3. 特定的持久化状态文件 ---
history
recentf
projectile.cache
places
emacs-desktop
desktop.lock
desktop
.bookmarks
*amx-items*

# --- 4. 编译后的字节码 (可选，建议忽略) ---
*.elc