*.lan~
*.~undo-tree~
/elpa/
eshell/lastdir
history
recentf
/auto-save-list/.saves-38919-xsq.local~
elpa/
transient/
*amx-items*
eshell/
.cache/
.bookmarks
/auto-save-list/*.local
projectile.cache
/auto-save-list/.saves-41679-xsq.local~
/auto-save-list/.saves-58401-xsq.local~
/auto-save-list/.saves-59518-xsq.local~
/auto-save-list/.saves-60019-xsq.local~
/auto-save-list/.saves-76992-xsq.local~
/auto-save-list/.saves-82170-xsq.local~
/places
/emacs-desktop
/desktop.lock
/desktop
